@{
    ViewData["Title"] = "NotAuthorized";
}

<br />
<br />
<center>
    <img src="~/images/forbidden.png" style="width:450px" />
    <h2>You are not authorized to perform this action!</h2>
</center>